.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 300px;

  &__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
  }

  &__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &--fore {
      transform: translateZ(90px) scale(0.7);
      z-index: 1;
    }

    &--base {
      transform: translateZ(0);
      z-index: 4;
    }

    &--back {
      transform: translateZ(-300px) scale(2);
      z-index: 3;
    }

    &--deep {
      transform: translateZ(-600px) scale(3);
      z-index: 2;
    }
  }
}
