// COLOR PALETTE
$red: #c00;
$green: hsl(135, 50%, 50%);
$violet: hsl(225, 50%, 50%);
$gray: #808080;
$light-gray: #ccc;
$dark-gray: #333;

// GLOBALS
$global-max-width: 75em;
$global-radius: 3px;

$body-color:              $dark-gray;
$body-font-family:        "Source Sans Pro", sans-serif;
$body-font-weight-normal: 300;
$body-font-weight-bold:   600;
$body-font-size:          16px;
