<%= content_for :title, "Contact Us" %>
<h1>Contact Us</h1>

<div itemscope itemtype="http://schema.org/Corporation">
  <ul class="fa-ul">
    <li itemprop="name"><strong>Rapid Turtle</strong></li>
    <li class="postal-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span class="fa fa-li fa-map-marker" title="address"></span>
      <span class="street-address" itemprop="streetAddress">880 S 500 W</span>
      <span class="locality" itemprop="addressLocality">Provo</span>
      <span class="region" itemprop="addressRegion">UT</span>
      <span class="postal-code" itemprop="postalCode">84601</span>
      <span class="country" itemprop="addressCountry">United States</span>
    </li>
    <li>
      <span class="fa fa-li fa-phone" title="phone"></span>
      <a href="tel:8014410460" itemprop="telephone">(801) 441-0460</a>
    </li>
    <li>
      <span class="fa fa-li fa-at" title="email"></span>
      <a href="info@rapidturtle.com" itemprop="email">info@rapidturtle.com</a>
    </li>
    <li>
      <span class="fa fa-li fa-google-plus" title="Google+"></span>
      <a href="http://google.com/+RapidTurtle" target="_blank">+RapidTurtle</a>
    </li>
    <li>
      <span class="fa fa-li fa-twitter" title="Twitter"></span>
      <a href="http://twitter.com/rapid_turtle" target="_blank">@rapid_turtle</a>
    </li>
  </ul>
</div>
