<div id="hero">
    <p><%= image_tag "logo.png", :alt => "Rapid Turtle logo" %></p>
    <h1>Rapid Turtle</h1>
    <p>Custom web application and multimedia development.</p>
    <p><%= mail_to "info@rapidturtle.com", "Contact us.", subject: "New Web Site" %></p>
</div>
