@import "foundation_and_overrides";
@import "globals/all";

.debug_dump {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: $global-radius;
  color: #666;
  font-family: $font-family-monospace;
  font-weight: normal;
  font-size: 0.8rem;
  padding: 30px;
}
