// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background: #fff;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana;
    margin: 0;
    padding: 0;
}

div#hero {
    margin: 200px auto;
    text-align: center;
}
