// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: #fff;
    color: #666;
    font-family: Seravek;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.375;
    margin: 0;
    padding: 0;
}

a {
  color: #407f50;
  text-decoration: none;
  &:hover { text-decoration: underline; }
  &:visited { color: #50407f; }
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 500;
}

div#hero {
    margin: 200px auto;
    text-align: center;
}

footer {
  color: #999;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  padding: 10px;
  text-align: center;
  width: 100%;
}
